{
  "root": true,
  "extends": "standard",
  "env": {
    "es6": true
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "overrides": [
    {
      "files": [
        "*.mts",
        "*.cts",
        "*.tsx"
      ],
      "extends": [
        "standard-with-typescript"
      ],
      "parser": "@typescript-eslint/parser",
      "parserOptions": {
        "project": "tsconfig.json",
        "ecmaFeatures": {
          "jsx": true
        }
      },
      "plugins": [
        "@typescript-eslint"
      ],
      "rules": {
        "@typescript-eslint/no-extraneous-class": "off"
      }
    }
  ]
}
